<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %> and welcome to Bibimbapp, learn french with fun !</h1>
    <p>
      You're subscribed to Bibimbapp site with the following e-mail : <%= @user.email %>.
    </p>
    <p>
      You can login to your dashboard with this link : <%= @url %>.
    <p> We're waiting you !
  </body>
</html>