<!-- LESSON NAME -->
<div class="section-title section-title--style-1 text-center mb-2">
  <h3 class="section-title-inner text-normal mt-5">
    <span>A1, LEÇON 2</span>
  </h3>
  <h4>Dire bonjour à un ami / Say hello to a friend</h4>

  <span class="section-title-delimiter clearfix d-none"></span>
</div>

<span class="clearfix"></span>

<div class="fluid-paragraph text-center">
  <p class="text-lg line-height-1_8 c-gray-light strong-300">
    <i class="fas fa-crosshairs"></i>
    Goal: you will discover how to say "hi" to your friend, and when you can use it. After this lesson you will be able to say hi to anyone in France.
  </p>
</div>

<section class="slice sct-color-1">

  <!-- BLOCK IMAGE -->
  <div class="container">
    <div class="col lg-12 mb-3">
      <div class="row row justify-content-between">
        <div class="col-lg-5 mb-5">
          <div class="block block-image-holder">
            <div class="block-image">
              <a href="#">
                <img src="https://images.unsplash.com/photo-1494249465471-5655b7878482?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" class="img-fluid img-center">
              </a>
            </div>
          </div>
        </div>

        <!-- BLOCK SCRIPT -->
        <div class="col-md-7 col-sm-12">
          <div class="feature feature--boxed-border feature--bg-1">
            <div class="icon-block icon-block--style-1-v2">
              <div class="block-icon text-xs-left">
                <i class="fas fa-book-reader"></i>
              </div>
              <div class="block-content">
                <h3 class="heading heading-4 strong-600">

                  SCRIPT</h3>
                <p>
                  - Salut ça va ?<br>
                  - Oui et toi ?<br>
                  - Ça va bien.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- BLOCK GRAMMAIRE -->

    <div class="col-md-12 col-sm-12 mb-5">
      <div class="feature feature--boxed-border feature--bg-1">
        <div class="icon-block icon-block--style-1-v2">
          <div class="block-icon text-xs-left">
            <i class="fas fa-chalkboard-teacher"></i>
          </div>
          <div class="block-content">
            <h3 class="heading heading-4 strong-600">

              GRAMMAR</h3>
            <p>
              Different ways to say “hi” in French :
              <br>
              “Salut” : If you want to say hi to a friend you can say “Salut”,no matter what time it is, (morning, afternoon or night etc).<br>
              “Bonjour”: this one is the most use cause we can use either to a friend, a member of family or someone we don’t know well. Usually we do not use it at night.<br>
              “Bonsoir” : means like “Good evening”, we use this one to say hello at night. It is more used in formal way than to friends
              <br>
              “Ça va ?” : means “How’re you?” or “How’s it going?”. This expression is really used we use it more between friends or close people, if we want to use it with people we do not well we use more “Comment allez-vous ?”. “Ça va ?” is really used in daily
              conversation and we can use the same expression to answer. It is super easy.
              <br>
              For example:<br>
              A : - Ça va ?<br>
              B : - Ça va.<br>
              Some other way to say Ça va ? = comment vas-tu ? or comment tu vas?(this one is not really but people use it).<br>
              “Quoi de neuf ?” : means like “what’s up?”, you can use it to ask for news. Or if you don’t know what to talk about.<br>
              “Enchanté” : means like “nice to meet you”.<br>
              “Coucou” : it is a bit like “Salut”, just use it with close friend, we can translate it by “hey”.<br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- IMAGE BLOCK 2 -->

  <div class="container">
    <div class="col lg-12 mb-3">
      <div class="row row justify-content-between">

        <!-- VOCABULARY BLOCK -->
        <div class="col-md-7 col-sm-12">
          <div class="feature feature--boxed-border feature--bg-1">
            <div class="icon-block icon-block--style-1-v2">
              <div class="block-icon text-xs-left">
                <i class="fas fa-sort-alpha-up"></i>
              </div>

              <div class="block-content">
                <h3 class="heading heading-4 strong-600">

                  VOCABULARY</h3>
                <p>
                  salut = hi
                  <br>
                  ça va ? = how are you?
                  <br>
                  ça va = I am fine
                  <br>
                  comment allez-vous ? = polite way to say “how are you?”
                  <br>
                  bonjour = hello
                  <br>
                  quoi de neuf ? = what’s up?
                  <br>
                  bonsoir = good evening
                  <br>
                  coucou = hey
                  <br>
                  enchanté = nice to meet you

                </p>

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 mb-5">
          <div class="block block-image-holder">
            <div class="block-image">
              <img src="https://images.unsplash.com/photo-1543332164-6e82f355badc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80" class="img-fluid img-center">
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
