<div class="section-title section-title--style-2 text-center mb-4">
    <h3 class="section-title-inner heading-2 strong-400">
        <span>My Courses</span>
    </h3>

    <section class="slice sct-color-1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="text-center">
                        <div class="heading heading-2 strong-600 line-height-1_8">
                            Are you ready to improve your French ?

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- CHOISIR AFFICHAGE NIVEAU -->




    <form class="form" style="margin: 0 auto; width:31%">
        <label class="my-1 mr-2" for="inlineFormCustomSelectPref"><h5>Choose level to display</h5></label>
        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
            <option selected>ALL</option>
            <option value="2">A1 NEWBIE</option>
            <option value="3">A2 ELEMENTARY</option>
            <option value="3">B1 INTERMEDIATE</option>
            <option value="3">B2 ADVANCED</option>
        </select>
    </form>


    <!-- LEVEL A1-->

    <div class="col-wrapper--spaced text-center animate-on-scroll fadeInDown">
        <div class="btn btn-base-4" style="pointer-events: none">A1 NEWBIE</div>
    </div>



    <section class="sct-color-1" id="sct_timeline">
        <div class="container">
            <div class="timeline">
                <div class="timeline-block">
                    <span class="timeline-img"></span>
                    <div class="timeline-content border-0, no-border">
                        <div class="icon-block active icon-block--style-2-v2 text-center">
                            <div class="block-icon rounded">
                                <i class="fas fa-sort-alpha-down-alt"></i>
                            </div>
                            <h2 class="heading heading-6 strong-600">Alphabet</h2>
                            <p class="px-2">

                            </p>
                        </div>

                    </div>

                    <div class="timeline-block">
                        <span class="timeline-img"></span>
                        <div class="timeline-block">
                            <span class="timeline-img"></span>
                            <div class="timeline-content border-0, no-border">
                                <div class="icon-block icon-block--style-2-v2 text-center">
                                    <div class="block-icon rounded">
                                        <i class="fas fa-handshake"></i>
                                    </div>
                                    <h2 class="heading heading-6 strong-600">Say Hi / Dire Bonjour</h2>
                                    <p class="px-2">

                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- LEVEL A2-->

    <div class="col-wrapper--spaced text-center animate-on-scroll fadeInDown">
        <i class="fas fa-lock"></i><br>
        <a href="#" class="btn btn-base-4" style="pointer-events: none">A2 ELEMENTARY </a>
    </div>


    <section class="sct-color-1" id="sct_timeline">
        <div class="container">
            <button class="btn btn-styled btn-base-3 btn-outline btn-sm"type="button" name="button"><i class="fas fa-lock-open"></i>  Take a shortcut here</button>
            <div class="timeline">
                <div class="timeline-block">
                    <span class="timeline-img"></span>
                    <div class="timeline-content border-0, no-border">
                        <div class="icon-block icon-block--style-2-v2 text-center">
                            <div class="block-icon rounded">
                                <i class="fas fa-users"></i>
                            </div>
                            <h2 class="heading heading-6 strong-600">Introduce yourself / Se présenter</h2>
                            <p class="px-2">
                            </p>
                        </div>
                    </div>
                </div>

                <div class="timeline-block">
                    <span class="timeline-img"></span>
                    <div class="timeline-block">
                        <span class="timeline-img"></span>
                        <div class="timeline-content border-0, no-border">
                            <div class="icon-block icon-block--style-2-v2 text-center">
                                <div class="block-icon rounded">
                                    <i class="fas fa-pray"></i>
                                </div>
                                <h2 class="heading heading-6 strong-600">Apologize / S'excuser</h2>
                                <p class="px-2">
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- LEVEL B1-->
<div class="col-wrapper--spaced text-center animate-on-scroll fadeInDown">
    <i class="fas fa-lock"></i> <br>
    <a href="#" class="btn btn-base-4" style="pointer-events: none">B1 INTERMEDIATE</a>
</div>

<section class="sct-color-1" id="sct_timeline">
    <div class="container">
        <div class="text-center">
            <button class="btn btn-styled btn-base-3 btn-outline btn-sm"type="button" name="button"><i class="fas fa-lock-open"></i>  Take a shortcut here</button>
        </div>

        <div class="timeline">
            <div class="timeline-block">
                <span class="timeline-img"></span>
                <div class="timeline-content border-0, no-border">
                    <div class="icon-block icon-block--style-2-v2 text-center">
                        <div class="block-icon rounded">
                            <i class="fas fa-paperclip"></i>
                        </div>
                        <h2 class="heading heading-6 strong-600">Work / Travailler</h2>
                        <p class="px-2">
                        </p>
                    </div>
                </div>
            </div>

            <div class="timeline-block">
                <span class="timeline-img"></span>
                <div class="timeline-block">
                    <span class="timeline-img"></span>
                    <div class="timeline-content border-0, no-border">
                        <div class="icon-block icon-block--style-2-v2 text-center">
                            <div class="block-icon rounded">
                                <i class="fas fa-newspaper"></i>
                            </div>
                            <h2 class="heading heading-6 strong-600">News / Actualités</h2>
                            <p class="px-2">

                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</section>

<!-- LEVEL B2-->
<div class="col-wrapper--spaced text-center animate-on-scroll fadeInDown">
    <i class="fas fa-lock"></i> <br>
    <a href="#" class="btn btn-base-4">B2 ADVANCED</a>
    <br>


</div>


<section class="sct-color-1" id="sct_timeline">
    <div class="container">
        <div class="text-center">
            <button class="btn btn-styled btn-base-3 btn-outline btn-sm"type="button" name="button"><i class="fas fa-lock-open"></i>  Take a shortcut here</button>
        </div>
        <div class="timeline">
            <div class="timeline-block">
                <span class="timeline-img"></span>
                <div class="timeline-content border-0, no-border">
                    <div class="icon-block icon-block--style-2-v2 text-center">
                        <div class="block-icon rounded">
                            <i class="fas fa-luggage-cart"></i>
                        </div>
                        <h2 class="heading heading-6 strong-600">Travel / Voyager </h2>
                        <p class="px-2">

                        </p>
                    </div>
                </div>
            </div>

            <div class="timeline-block">
                <span class="timeline-img"></span>
                <div class="timeline-block">
                    <span class="timeline-img"></span>
                    <div class="timeline-content border-0, no-border">
                        <div class="icon-block icon-block--style-2-v2 text-center">
                            <div class="block-icon rounded">
                                <i class="fas fa-microphone"></i>
                            </div>
                            <h2 class="heading heading-6 strong-600">Standpoint / Prise de positions</h2>
                            <p class="px-2">
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
