<div class="section-title section-title--style-2 text-center mb-4">
  <h3 class="section-title-inner heading-2 strong-400">
    <span>My vocabulary</span>
  </h3>
</div>

<div class="text-center">
<h6><i class="fas fa-info-circle"></i> Click on the flash card to flip it and discover the translation</h6>
</div>

<section class="slice sct-color-1">
  <div class="container">
    <div class="row cols-xs-space cols-sm-space cols-md-space card-flip-container">
      <div class="col-lg-4 mb-3">
        <div class="card-flip" data-flip-trigger="click">
          <div class="card-front">
            <div class="card-image">
              <img src="https://images.pexels.com/photos/625219/pexels-photo-625219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            </div>
            <div class="card-body card-body--overlay d-flex align-items-center">
              <div class="card-body-inner text-center">
                <h3 class="heading heading-inverse heading-3 strong-600 text-capitalize">Sorry</h3>
              </div>
            </div>
          </div>

          <div class="card-back bg-base-1">
            <div class="card-body card-body--overlay d-flex align-items-center">
              <div class="card-body-inner text-center">
                <a href="" class="link link-sm link--style-4 link--bb text-uppercase ls-2 strong-600">désolé</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-3">
        <div class="card-flip" data-flip-trigger="click">
          <div class="card-front">
            <div class="card-image">
              <img src="https://images.pexels.com/photos/625219/pexels-photo-625219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            </div>
            <div class="card-body card-body--overlay d-flex align-items-center">
              <div class="card-body-inner text-center">
                <h3 class="heading heading-inverse heading-3 strong-600 text-capitalize">hello</h3>
              </div>
            </div>
          </div>

          <div class="card-back bg-base-1">
            <div class="card-body card-body--overlay d-flex align-items-center">
              <div class="card-body-inner text-center">
                <a href="" class="link link-sm link--style-4 link--bb text-uppercase ls-2 strong-600">bonjour</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-3">
        <div class="card-flip" data-flip-trigger="click">
          <div class="card-front">
            <div class="card-image">
              <img src="https://images.pexels.com/photos/625219/pexels-photo-625219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            </div>
            <div class="card-body card-body--overlay d-flex align-items-center">
              <div class="card-body-inner text-center">
                <h3 class="heading heading-inverse heading-3 strong-600 text-capitalize">to eat</h3>
              </div>
            </div>
          </div>

          <div class="card-back bg-base-1">
            <div class="card-body card-body--overlay d-flex align-items-center">
              <div class="card-body-inner text-center">
                <a href="" class="link link-sm link--style-4 link--bb text-uppercase ls-2 strong-600">manger</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card-flip" data-flip-trigger="click">
          <div class="card-front">
            <div class="card-image">
              <img src="https://images.pexels.com/photos/625219/pexels-photo-625219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            </div>
            <div class="card-body card-body--overlay d-flex align-items-center">
              <div class="card-body-inner text-center">
                <h3 class="heading heading-inverse heading-3 strong-600 text-capitalize">to drink</h3>
              </div>
            </div>
          </div>

          <div class="card-back bg-base-1">
            <div class="card-body card-body--overlay d-flex align-items-center">
              <div class="card-body-inner text-center">
                <a href="" class="link link-sm link--style-4 link--bb text-uppercase ls-2 strong-600">boire</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-3">
        <div class="card-flip" data-flip-trigger="click">
          <div class="card-front">
            <div class="card-image">
              <img src="https://images.pexels.com/photos/625219/pexels-photo-625219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            </div>
            <div class="card-body card-body--overlay d-flex align-items-center">
              <div class="card-body-inner text-center">
                <h3 class="heading heading-inverse heading-3 strong-600 text-capitalize">a cat</h3>
              </div>
            </div>
          </div>

          <div class="card-back bg-base-1">
            <div class="card-body card-body--overlay d-flex align-items-center">
              <div class="card-body-inner text-center">
                <a href="" class="link link-sm link--style-4 link--bb text-uppercase ls-2 strong-600">un chat</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-3">
        <div class="card-flip" data-flip-trigger="click">
          <div class="card-front">
            <div class="card-image">
              <img src="https://images.pexels.com/photos/625219/pexels-photo-625219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            </div>
            <div class="card-body card-body--overlay d-flex align-items-center">
              <div class="card-body-inner text-center">
                <h3 class="heading heading-inverse heading-3 strong-600 text-capitalize">a dog</h3>
              </div>
            </div>
          </div>

          <div class="card-back bg-base-1">
            <div class="card-body card-body--overlay d-flex align-items-center">
              <div class="card-body-inner text-center">
                <a href="" class="link link-sm link--style-4 link--bb text-uppercase ls-2 strong-600">un chien</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-3">
        <div class="card-flip" data-flip-trigger="click">
          <div class="card-front">
            <div class="card-image">
              <img src="https://images.pexels.com/photos/625219/pexels-photo-625219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            </div>
            <div class="card-body card-body--overlay d-flex align-items-center">
              <div class="card-body-inner text-center">
                <h3 class="heading heading-inverse heading-3 strong-600 text-capitalize">to work</h3>
              </div>
            </div>
          </div>

          <div class="card-back bg-base-1">
            <div class="card-body card-body--overlay d-flex align-items-center">
              <div class="card-body-inner text-center">
                <a href="" class="link link-sm link--style-4 link--bb text-uppercase ls-2 strong-600">travailler</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-3">
        <div class="card-flip" data-flip-trigger="click">
          <div class="card-front">
            <div class="card-image">
              <img src="https://images.pexels.com/photos/625219/pexels-photo-625219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            </div>
            <div class="card-body card-body--overlay d-flex align-items-center">
              <div class="card-body-inner text-center">
                <h3 class="heading heading-inverse heading-3 strong-600 text-capitalize">a kid</h3>
              </div>
            </div>
          </div>

          <div class="card-back bg-base-1">
            <div class="card-body card-body--overlay d-flex align-items-center">
              <div class="card-body-inner text-center">
                <a href="" class="link link-sm link--style-4 link--bb text-uppercase ls-2 strong-600">un enfant</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-3">
        <div class="card-flip" data-flip-trigger="click">
          <div class="card-front">
            <div class="card-image">
              <img src="https://images.pexels.com/photos/625219/pexels-photo-625219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            </div>
            <div class="card-body card-body--overlay d-flex align-items-center">
              <div class="card-body-inner text-center">
                <h3 class="heading heading-inverse heading-3 strong-600 text-capitalize">a woman</h3>
              </div>
            </div>
          </div>

          <div class="card-back bg-base-1">
            <div class="card-body card-body--overlay d-flex align-items-center">
              <div class="card-body-inner text-center">
                <a href="" class="link link-sm link--style-4 link--bb text-uppercase ls-2 strong-600">une femme</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>>
