<section class="slice sct-color-1 mt-5">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <h2 class="heading heading-2 strong-400 c-gray-dark">
                    What is your level in French ?
                </h2>
                <div class="fluid-paragraph paragraph-md">
                    <p class="c-gray-dark mt-4">
                    <img src="https://img.icons8.com/material-outlined/15/000000/info.png">   If you dont know do not worry, you will be abble to change your level later.
                    </p>

                    <div class="btn-container mt-5">

                        <a href="#" class="btn btn-outline-success" data-toggle="tooltip" data-placement="top" title="You know how to say hi">Newbie A1</a>
                        <div class="progress">
                            <div class="progress-bar-animated progress-bar-striped bg-success" role="progressbar" style="width: 5%"  aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <a href="#" class="btn btn-outline-info" data-toggle="tooltip" data-placement="top" title="You know what 'Jambon Beurre' is about">Elementary A2</a>
                        <div class="progress">
                            <div class="progress-bar-animated progress-bar-striped bg-info" role="progressbar" style="width: 25%"aria-valuenow="25" aria-valuemin="25" aria-valuemax="100"></div>
                        </div>
                        <a href="#" class="btn btn-outline-warning" data-toggle="tooltip" data-placement="top" title="You can read newspaper headlines"hi">Intermediate B1</a>
                        <div class="progress">
                            <div class="progress-bar-animated progress-bar-striped bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <a href="#" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="top" title="You know how to pick up someone">Advanced B2</a>
                        <div class="progress">
                            <div class="progress-bar-animated progress-bar-striped bg-danger" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
