/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require bootstrap/css/bootstrap.min
 *= require swiper/css/swiper.min
 *= require hamburgers/hamburgers.min
 *= require animate/animate.min
 *= require fancybox/css/jquery.fancybox.min
 *= require assets/font/font-awesome/css/font-awesome.min
 *= require assets/font/ionicons/css/ionicons.min
 *= require assets/font/line-icons/line-icons
 *= require assets/font/line-icons-pro/line-icons-pro
 *= require assets/font/linea/arrows/linea-icons
 *= require assets/font/linea/basic/linea-icons
 *= require assets/font/linea/ecommerce/linea-icons
 *= require assets/font/linea/software/linea-icons
 *= require boomerang.min
  */


.logo{
  padding: 30px;
}
#logo{
  padding: 30px;
  width: 270px;
}

#logo_index{
width: 270px;
  padding: 30px;
}


body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.video-header{height: 100vh;
         display: flex;
	     align-items: center;
	     color: #fff;

}

.wrap{
	max-width: 960px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin:auto;
	text-align: center;

}
.fullscreen-video-wrap{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	overflow: hidden;

}
.fullscreen-video-wrap video{
	min-height: 100%;
	min-width: 100%;

}

.header-content{
	z-index: 2;
	margin-top:20%;
	padding: 0 5rem;

}

.header-content h1{
	font-size: 50px;
	margin-bottom: 0;

}
.header-content p{
	font-size: 1.5rem;
	display: block;
	padding-bottom: 2rem;
	margin-top: 10px;
}

.my-btn{
	padding: 1rem 1rem;
}

@media(max-width:768px){
	.header-content h1{font-size: 40px;}
	.header-content p{font-size: 1rem;}
}




// SCROLL DOWN INDEX

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}









#title_index{
  color: white;
}



// BUTTON

$vert:#28a745;

a.bttn-dark {
  color:$vert;
  text-decoration:none;
  -webkit-transition:0.3s all ease;
  transition:0.3s ease all;
  &:hover {
    color:#FFF;
  }
  &:focus {
    color:#FFF;
  }
}

.bttn-dark {
  margin-top:0;
  font-size:18px;
  letter-spacing:2px;
  display:inline-block;
  text-align:center;
  width:150px;
  font-weight:bold;
  padding:14px 0px;
  border:3px solid $vert;
  border-radius:3px;
  position:relative;
  box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
  z-index:2;
  &:before {
    -webkit-transition:0.5s all ease;
    transition:0.5s all ease;
    position:absolute;
    top:0;
    left:50%;
    right:50%;
    bottom:0;
    opacity:0;
    content:'';
    background-color:$vert;
    z-index:-1;
  }

  &:hover {
    &:before {
      -webkit-transition:0.5s all ease;
      transition:0.5s all ease;
      left:0;
      right:0;
      opacity:1;
    }

  }

}


// // FOOTER
// footer {
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//     height: 60px;
//     background: #000000;
//     color: #FFFFFF;
// }
