<footer id="footer" class="footer">
	<div class="footer-bottom py-4">
		<div class="container">
			<div class="row cols-xs-space col-sm-space align-items-center">
				<div class="col-lg-3 col-12">
					<div class="text-center text-lg-left">
						<div class="copyright">
							<ul class="copy-links no-margin">
								<li>
									&copy; 2019 Bibimbapp
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="text-center">
						<ul class="footer-menu footer-menu-sm">
							<li>
								<%= link_to 'Contact', contact_path, target: "_blank", style: "padding-left: 0;"%>
							</li>
							<li>
								<%= link_to 'Forum', thredded_path, target: "_blank", style: "padding-left: 0;"%>
								<!-- <a href="" target="_blank" style="padding-left: 0;">Forum</a> -->
							</li>

						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>

</footer>
